@page "/updateProfile"
@using System.Text.Json;
@inherits UpdateProfileBase

<div id="edit-profile">
    <div id="main">
        <div class="text-center" id="profile-image">
            <img src=@imagePath alt="...">
        </div>

        <form action="/submit" method="post" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" @bind-value="@updateUser.username" required disabled>
            <label for="profileImage">Profile Image:</label>
            <input type="file" id="profileImage" name="profileImage" accept="image/*" @ref="@elementReference" @onchange="async () => await UploadProfileImage_Click(elementReference)" required> 
            <input type="submit" value="Update" @onclick:preventDefault=true @onclick="()=>(UpdateUser_Click(updateUser))" />
        </form>
    </div>
</div>
